extends layout 

block content 
    h1 View or create posts 
    form(method="post" action='')
        label Title: 
            input#title(type='text' name='title' value=(undefined===post ? '' : post.title))
        label Write Post 
            textarea#post(name="post") #{undefined===post ? '' : post.content}
        input#user(type='hidden' name='user' value=(undefined===user.id ? user._id : user.id))
        button Submit 
    hr
    if posts
        ul 
            each post in posts 
                li 
                    if user.membership 
                        div #{post.user.firstName} #{post.user.lastName}
                            if user.admin 
                                a(href='/posts/'+post._id+'/delete')
                                    button Delete post

                        div #{post.date} 
                    div #{post.title}
                    div #{post.content}         
    else 
        h2 Be the first to write a post!